#bus {
  position: relative;
  z-index: 2;
  top: 200px;
}
#busimg {
  position: relative;
  z-index: 2;
}
#kim {
  position: absolute;
  top: 80px;
  left: 1700px;
}
#lea {
  position: absolute;
  top: 80px;
  left: 275px;
}
#lily {
  position: absolute;
  top: 83px;
  left: 500px;
}
#mimi {
  position: absolute;
  top: 80px;
  left: 680px;
}
#roy {
  position: absolute;
  top: 85px;
  left: 910px;
}
#bob {
  position: absolute;
  top: 95px;
  left: 1115px;
}
#joan {
  position: absolute;
  top: 70px;
  left: 1280px;
}
#baby {
  position: absolute;
  top: 60px;
  left: 1515px;
}
